ebin
.idea
.project
.settings/org.erlide.core.prefs
.eunit
yunba_mqtt_serialiser.iml
erl_crash.dump
log/console.log
log/crash.log
log/error.log
priv/jiffy.so

deps
erlcinfo
rel/files/app.config
tags
logs
*.beam
log
